* {
  background: rgba(169, 169, 169, 0.1);
  box-shadow: 0 0 0 1px darkgray;
}

body > * {
  background: rgba(255, 0, 0, 0.1);
  box-shadow: 0 0 0 4px red;
}

body > * > * {
  background: rgba(255, 165, 0, 0.1);
  box-shadow: 0 0 0 2px orange;
}

body > * > * > * {
  background: rgba(255, 255, 0, 0.1);
  box-shadow: 0 0 0 1px yellow;
}

body > * > * > * > * {
  background: rgba(0, 128, 0, 0.1);
  box-shadow: 0 0 0 1px green;
}

body > * > * > * > * > * {
  background: rgba(0, 0, 255, 0.1);
  box-shadow: inset 0 0 0 1px blue;
}

body > * > * > * > * > * > * {
  background: rgba(148, 0, 211, 0.1);
  box-shadow: inset 0 0 0 1px darkviolet;
}

/* ------------------ */
header,
main,
footer {
  box-shadow: 0 0 0 4px red;
}

nav,
section,
article,
aside {
  box-shadow: 0 0 0 2px orange;
}

